SERVER_PORT=8090
SERVER_CONTEXT_PATH=/api/v1
DB_URL=jdbc:postgresql://wine-service-db:5432/wine-service-db
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=wine-service-password-for-secure-connection-and-best-defense-12437586098
JWT_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=3000000
JWT_ISSUER=wine-service-app
JWT_AUDIENCE=wine-service-api
