SERVER_PORT=8080
SERVER_CONTEXT_PATH=/api
DB_URL=jdbc:postgresql://localhost:5438/wine-service-db
DB_USERNAME=postgres
DB_PASSWORD=postgres
JWT_SECRET=dev-only-secret-change-me
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000
JWT_ISSUER=wine-service
JWT_AUDIENCE=wine-service-client
LIQUIBASE_CONTEXTS=dev
MAIL_PASSWORD=samp samp samp samp
MAIL_USERNAME=username@gmail.com
FRONTEND_URL=http://localhost:3000
R2_ACCESS_KEY=yourR2AccessKeyNeededHere123
R2_SECRET_KEY=yourLongR2SecretKeyNeededHere123
R2_ENDPOINT=https://yourR2EndpointHere123.r2.cloudflarestorage.com
R2_BUCKET_NAME=wine-library-images
R2_PUBLIC_URL=https://pub-sampleKeyHere123.r2.dev
STRIPE_SECRET_KEY=sk_test_longStripeKeyNeededHere123
